.table{
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
    width: 60%;
    padding: 15px; 
    border: 2px solid blue; 
}

.table1 {
    border: 5px solid red;
    border-radius: 20px;
}

