.main{
    height: auto;
    display: flex;
    flex-direction: column;
}

.headDiv{
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;
    background-color: lightblue;
    width: 58%;
    padding:20px;
    text-align: center;
}

.btn{
    margin-top: 15px;
    background-color: lightcoral;   
}

.btnDiv{
    margin: 10px auto 0 auto;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}